*{
    margin: 0;
    padding: 0;
}

body {
    background: url(bg1.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    font-family: 'Ubuntu', monospace, Courier;
    color: white;
    padding-right: 15px;
    margin-right: 20%;
    margin-top: 36vh;
    font-size: 6vw;
    letter-spacing: 5px;
    position: relative;
    text-align: right;
    font-weight: bold;
    border-right: 8px solid #6b57f7;

}

@media only screen and (max-width: 850px) {
    #header {
        font-size: 10vw;
        margin-right: 10%;
    }
}

#cover {
    font-family: 'Ubuntu', monospace, Courier;
    position: relative;
    width: 100%;
    margin-top: 30vh;
    padding-top: 5vh;
    min-height: 125vh;
    display: block;
    overflow: auto;
    color: white;
    background: linear-gradient(0deg, rgba(0, 57, 93, 0.944) 0%, rgb(27, 20, 100) 70%);
    word-wrap: normal;
}

@media only screen and (min-height: 1081px) {
    #cover {
        min-height: 100vh;
    }
}

#description-box {
    margin: auto;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 25px;
    max-width: 80%;
    position: relative;
}

@media only screen and (max-width: 700px) {
    #description-box {
        font-size: 16px;
    }
}

/* hkbbbbbbbbbbb */

.topnav {
    font-family: 'Jura', monospace, Courier;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    /* background: #1F54CE; */
    /* background: #2E8BDE; */
    background: #FD4245;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topnav-element {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;

    float: left;
    margin: 10px 10px 10px 10px;
    margin-right: auto;
    margin-left: 40px;
}

.sort-btn {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffffff;

    float: left;
    margin: 10px 10px 10px 10px;
    margin-right: 40px;
    text-decoration: none;
}

@media only screen and (max-width: 850px) {
    .topnav-element {
        font-size: 22px !important;
    }

    .sort-btn {
        font-size: 22px !important;
    }
}

.footer {
    font-family: 'Ubuntu', monospace, Courier;

    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    background-color: #FD4245;
}

.footer-container {
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
}

.footer-title {
    color: #ffffff;
    font-size: 25px;
}

@media only screen and (max-width: 820px) {

    .footer-title {
        font-size: 20px;
    }
}

/* ______________________________________ */
.main-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top : 100px;
    min-height: 80vh;
}

#container{
    height: 450px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

.bar{
    width: 25px;
    height: 300px;
    background-color: white;
    margin: 5px;
}

.btns{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.btn{
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
}

.btn:hover{
    background-color: #FD4245;
    color: white;
    transform: scale(1.1);
}

.dowm-sort-btn{
    margin: 30px;
    position: absolute;
    right: 38vw;
}

/* ______________________________________ */